*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
    --darkgrey-color: #2f5382;
}

body
{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: #333;
}

ul
{
    list-style: none;
}

img
{
    max-width: 100%;
}

/* NAVBAR */
.navbar
{
    background-color: #fff;
    padding: 20px;
}
.navbar .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container .logo
{
    width: 304px;
    height: 32px;
}
.navbar .main-menu ul
{
    display: flex;
}
.navbar ul li a
{
    padding: 10px 12px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}
.navbar ul li a:hover
{
    color: var(--primary-color);
}

.navbar ul li a i
{
    margin-right: 7px;
}

/* HERO */
.hero
{
    margin-bottom: 50px;
}
.hero .container
{
    background: url('../images/hero.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 640px;
}
.hero .hero-content
{
    width: 70%;
    margin-top: 50px;
    margin-left: 50px;
}
.hero .hero-text
{
    width: 70%;
    margin-bottom: 5px;
}

/* Presentation */
.presentation
{
    padding: 10px 0 40px;
}
.presentation-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation-content img
{
    max-width: 50%;
    display: block;
    margin: 0 auto;
    border: 4px solid rgb(255, 255, 255);
}
.presentation-text
{
    display: block;
    margin: 0 auto;
}
.presentation-bold
{
    font-weight: 500;
    font-style: italic;
}
.presentation-preview
{
    margin-bottom: 40px;
}

/* Testimonials */
.testimonials
{
    padding: 40px 0;
}
.testimonials .testimonials-heading
{
    width: 700px; 
    margin-bottom: 40px;
}
.testimonials-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.testimonials .card p:nth-child(2)
{
    margin-top:30px;
    font-weight: bold;
}

/* Footer */
.footer
{
    padding: 40px 0;
}
.footer h4
{
    margin-bottom: 10px;
}
.footer ul li
{
    line-height: 2.5;
}
.footer a
{
    color: #ccc;
}
.footer-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.footer .card
{
    margin: 20px 30px 30px 0;
}
.footer-meh
{
    margin-top: 30px;
}

/* UTILITY CLASSES */
.container
{
    max-width: 1600px;
    margin: 15px auto;
    padding: 0 15px;
}
.container-sm
{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Buttons */
.telnumber
{
    display: inline-block;
    padding: 13px 20px;
    background: #fff;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.btn
{
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover
{
    background-color: #dfdfdf;
}

.btn-primary
{
    background: var(--primary-color);
    color: #fff;
}
.btn-dark
{
    background: var(--dark-color);
    color: #fff;
}
.btn-block
{
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl
{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xxlc
{
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl
{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg
{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md
{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm
{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center
{
    text-align: center;
}

/* Background */
.bg-primary
{
    background: var(--primary-color);
    color: #fff;
}
.bg-light
{
    background: var(--light-color);
    color: #333;
}
.bg-dark
{
    background: var(--darkgrey-color);
    color: #fff;
}
.bg-grey
{
    background: #333;
    color: #fff;
}
.bg-black
{
    background: var(--dark-color);
    color: #fff;
}

/* Cards */
.card
{
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

/* SOON-PAGE */
.soon
{
    background-image: url(../images/bg.jpg);
    text-align: center;

    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;

    background: var(--darkgrey-color);
    color: #fff;
}
.soonbtn
{
    border: 50px;

    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}


/* Hamburger Button */
.hamburger-button
{
    display: none;
    background: none;
    border: none;
    cursor: pointer; 
    padding: 10px; 
    z-index: 1000;
}
.hamburger-button .hamburger-line
{
    width: 30px; 
    height: 3px;
    background: #333;
    margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu
{
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: Opx Opx 10px rgba (0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}
.mobile-menu ul
{
    margin-top: 100px;
    padding-right: 10px;

}
.mobile-menu ul li
{
    margin: 10px 0;
}
.mobile-menu ul a
{
    font-size: 20px;
    transition: 0.3s;
}
.mobile-menu.active
{
    right: 0;
}


/* Media Queries */
@media (max-width: 960px) 
{
    .text-xxl
    {
        font-size: 2rem;
    }

    .hero .container
    {
        height: 500px;
    }

    .testimonials .testimonials-heading
    {
        width: 100%;
        text-align: center;
    }
    .testimonials .testimonials-grid
    {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 670px) 
{
    .navbar .main-menu
    {
        display: none;
    }

    .navbar .hamburger-button
    {
        display: block;
    }

    .hero .container
    {
        background: url('../images/heromb.png') no-repeat;
        background-size: 420px 480px;
        background-position: bottom;
        height: 920px;
    }

    .hero .hero-content
    {
        width: 100%;
        text-align: center;
        padding-right: 100px;
    }

    .hero .hero-text
    {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        margin-top: 20px;
        display: block;
        width: 100%;
      }

    .testimonials .testimonials-heading
    {
        width: 100%;
        text-align: center;
    }
    .testimonials .testimonials-grid, .footer .footer-grid
    {
        grid-template-columns: 1fr;
    }

    .footer .card
    {
        margin-right: 0;
    }
    .footer .footer-grid > div
    {
        text-align: center;
    }

    /* Text */
    .text-xl
    {
        font-size: 1.9rem;
    }
    .text-lg
    {
        font-size: 1.5rem;
    }
    .text-md
    {
        font-size: 1.1rem;
    }
}
@media (max-width: 500px) 
{
    .text-xxl 
    {
        font-size: 2rem;
    }
}
@media (max-width: 850px) 
{
    .navbar .main-menu
    {
        display: none;
    }

    .navbar .hamburger-button
    {
        display: block;
    }
}
